/* საიტის გაფართოება  */
.container {
    width: 1600px;
    height: 3000px;
}

/* base elemeent */
.f-left {
    float: left;
    width: 636px;
}

.f-right {
    float: right;
    width: 636px;
}

.clear {
    clear: both;
}

/* header შიგთავსი */

.logo {
    float: left;
    margin-left: 70px;
}

.f-left-li {
    float: left;
    margin-top: 20px;
}

.nav-a {
    font-family: 'Poppins';
    font-size: 16px;
    margin-left: 50px;
    color: #181c28;
}

.nav-ul::after {
    content: ' ';
    clear: left;
    display: block;

}

.head-box::after {
    content: '';
    clear: both;
    display: block;
}

/* აქ დაიწყება ბანერი */
.banner {
    width: 100%;

    align-items: center;
    color: #7b7b7b;
    margin-top: 20px;
}

.ban-1 {

    align-items: center;
    color: #ff7a00;
    margin-top: 20px;
}

/* ეს არის პირველი მშობელი ბლოკი */
.wraper-box {
    width: 1330px;
    height: 1412px;
}

.wraper-box {
    content: ' ';
    clear: both;
    display: block;
}

/* მშობელი ბლოკის მინიჭებული ზომები */


.txt-h2 {
    font-size: 18px;
    font-family: 'Poppins';
    color: #ff7a00;
    margin-bottom: 83px;
    margin-left: 172px;
}

.text-block {
    margin-bottom: 64px;
}

.txt-block-h2 {
    font-size: 36px;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    margin-bottom: 22px;
}

.txt-block-h3 {
    font-family: 'Poppins';
    font-size: 16px;
    color: rgb(123, 123, 123);
}

.txt-block-p {
    font-family: 'Poppins';
    font-size: 14px;
    color: #ff7a00;
    display: inline-block;
}

.img-block-ft {
    display: inline-block;
    margin-left: 20px;
}

/* აქედან load-more და ფუტერი წავა */


/* აქედან იწყება ბოლო ბლოკი ფუტერი */
.block-box {
    width: 1386px;
}

.pirveli-box,
.meore-box,
.mesame-box,
.meotxe-box {
    margin-left: 138px;
    display: inline-block;
    margin-top: 81px;
}

.meore-box {
    margin-left: 200px;
}

.mesame-box {
    margin-left: 200px;
}

.meotxe-box {
    margin-left: 200px;
    vertical-align: top;
    margin-bottom: 26px;
}

.footer-img {
    display: inline-block;
    vertical-align: top;
}

.footer-h2 {
    font-size: 24px;
    font-family: 'Poppins';
    color: #282828;
}

.nav-listt {
    font-family: 'Poppins';
    font-size: 16px;
    color: #7b7b7b;
    margin-top: 17px;
}

.block-box::after {
    content: ' ';
    clear: both;
    display: block;
}