/* საიტის გაფართოება  */
.container {
    width: 100%;

}

/* base elemeent */
.f-left {
    float: left;
    width: 636px;
    margin: 40px 10px 20px 50px;
}

.f-right {
    margin-left: 58px;
}

.clear {
    clear: both;
}

/* header შიგთავსი */

.head-box .logo img {
    margin-left: 123px;
    vertical-align: middle;
    float: left;
    margin-left: 70px;
}

.head-box nav {
    float: left;
    margin-top: 20px;
    vertical-align: middle;
    margin-left: 100px;

}

.head-box nav ul li {
    margin-left: 58px;
    float: left;
    vertical-align: middle;
}

.head-box nav ul li a {
    font-size: 16px;
    font-family: 'Poppins';
    color: #181c28;

}

.head-box::after {
    content: '';
    clear: both;
    display: block;
}

/* აქ დაიწყება ბანერი */
div .banner {
    position: relative;

}

.ban-1 {
    position: absolute;
    top: 29%;
    left: 38.5%;
    color: aliceblue;
    font-size: 48px;
    font-family: 'Playfair Display';
}

.ban-2 {
    position: absolute;
    top: 25%;
    left: 33%;
    color: white;
    font-family: 'Poppins';
    font-size: 22px;

}

/* ეს არის პირველი მშობელი ბლოკი */
.wraper-box {
    width: 100%;
}

.wraper-box::after {
    content: ' ';
    clear: both;
    display: block;
}

/* მშობელი ბლოკის მინიჭებული ზომები */


.txt-block-h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: bold;
    color: #181c28;
    margin-bottom: 22px;
}

.text-block-h3 {
    font-family: 'Poppins';
    font-size: 16px;
    color: #7b7b7b;
    margin-bottom: 22px;


}

.txt-block-p {
    font-family: 'Poppins';
    font-size: 14px;
    color: #ff7a00;
    display: inline-block;
    margin-top: 13px;

}

.img-block-ft {
    display: inline-block;
    margin-left: 20px;
}

/* აქედან load-more და ფუტერი წავა */
.center1 {
    position: relative;
    margin-top: 99px;
    margin-left: 35%;
    margin-bottom: 134px;

}

.load-more-h3 {
    position: absolute;
    top: 22px;
    left: 50px;
    color: white;
}


/* აქედან იწყება ბოლო ბლოკი ფუტერი */
.block-box {
    width: 100%;
}

.pirveli-box,
.meore-box,
.mesame-box,
.meotxe-box {
    margin-left: 138px;
    float: left;
    margin-top: 81px;
}

.footer-h2 {
    font-size: 24px;
    font-family: 'Poppins';
    color: #282828;
}

.nav-listt {
    font-family: 'Poppins';
    font-size: 16px;
    color: #7b7b7b;
    margin-top: 17px;
}

.block-box::after {
    content: ' ';
    clear: both;
    display: block;
}